<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around start"
    fxLayoutGap="10px" 
    fxLayoutGap.xs="0">

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
 

    <div fxFlex *ngIf="dish">
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3 *ngIf="dish">{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>

        <img mat-card-image src="{{ BaseURL + dish.image }}" alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]"><span class="fa fa-chevron-left fa-lg"></span></button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/dishdetail', next]"><span class="fa fa-chevron-right fa-lg"></span></button>
        </mat-card-actions>
      </mat-card>
    </div>
    </div>

    <div fxFlex="40" *ngIf="dish" [@visibility]="visibility">
      <div>
      <h3>Comments</h3>
    </div>

    <div class="container"
      fxLayout="column"
      fxLayoutGap="10px">
      <mat-list fxFlex *ngIf="dish">
        <mat-list-item *ngFor="let c of dish.comments">
          <p matLine> {{c.comment}} </p>
          <p matLine> {{c.rating}} stars </p>
          <p matLine> -- {{c.author}}  {{c.date | date }} </p>
        </mat-list-item>

        <!-- <mat-list-item *ngIf="submitted">
          <p matLine> {{new_comment}} </p>
          <p matLine> {{new_rating}} stars </p>
          <p matLine> -- {{new_author}} {{mo}} {{da}} ,{{ye}} </p>
        </mat-list-item> -->

      </mat-list>
    </div>


    <div class="container"
      fxLayout="column"
      fxLayoutGap="10px">
      <h3>Send us your Feedback</h3>
         <p>{{ Form.value | json }} {{ myDate | json }}</p>
  
          <form novalidate [formGroup]="Form" #fform="ngForm" (ngSubmit)="onSubmit()">
            <p>
              <mat-form-field class="half-width">
                <input matInput formControlName="author" placeholder=" author" type="text" required>
                <mat-error *ngIf="formErrors.author">{{formErrors.author}}</mat-error>
              </mat-form-field>
            </p>
            <p>
                <mat-slider  formControlName="rating"  type="text" pattern="[0-9]*" required min="1" max="5" step="1" value="2" tickInterval="1" thumbLabel ></mat-slider>
                <!-- <input matInput formControlName="rate" placeholder="rate" type="text" pattern="[0-9]*" required> -->
            </p>
            <p>
              <mat-form-field style="width:400px !important"  appearance="outline" class="fill">
                <input  matTextareaAutosize matAutosizeMinRows=3 matAutosizeMaxRows=5 rows="100" matInput formControlName="comment" placeholder=" comment" type="text" required>
                <mat-error *ngIf="formErrors.comment">{{formErrors.comment}}</mat-error>
              </mat-form-field>
            </p>
            <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="fform.form.invalid">Submit</button>
          </form>
    </div>


  </div>
  
</div>

